{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.17.2"}
        techascent/tech.ml.dataset {:mvn/version "6.087"
                                    :exclusion [org.apache.logging.log4j/log4j-api]}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.0" :git/sha "48c3c67"}}}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.5" :git/sha "972031a"}}
          :ns-default build}}}
